.list {
    list-style: none;
    border: 1px solid purple;
    margin: 3rem 15%;
    padding: 1rem;
    border-radius: 15px;
    background-color: purple;
    color: white;
    z-index: 4;
    box-shadow: rgba(175, 18, 149, 0.473) 5px 7px 10px;
}